################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HLGame/bin/Debug/netcoreapp3.1
