################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HLGame/bin/Debug/netcoreapp3.1
/.vs/HLGame/v16
/HLGame/obj/Debug/netcoreapp3.1
/HLGame/obj
/.vs/HLGame/DesignTimeBuild
/HLGame-Test/bin/Debug/netcoreapp3.1
/HLGame-Test/obj/Debug/netcoreapp3.1
/HLGame-Test/obj
